In [1]:
import pandas as pd
import os

In [128]:
df = pd.read_csv('./data/train.csv')
df.head()

,id,img_path,overview,cat1,cat2,cat3
0,TRAIN_00000,./image/train/TRAIN_00000.jpg,소안항은 조용한 섬으로 인근해안이 청정해역으로 일찍이 김 양식을 해서 높은 소득을 ...,자연,자연관광지,항구/포구
1,TRAIN_00001,./image/train/TRAIN_00001.jpg,경기도 이천시 모가면에 있는 골프장으로 대중제 18홀이다. 회원제로 개장을 했다가 ...,레포츠,육상 레포츠,골프
2,TRAIN_00002,./image/train/TRAIN_00002.jpg,금오산성숯불갈비는 한우고기만을 전문적으로 취급하고 사용하는 부식 자재 또한 유기농법...,음식,음식점,한식
3,TRAIN_00003,./image/train/TRAIN_00003.jpg,철판 위에서 요리하는 안동찜닭을 맛볼 수 있는 곳이다. 경상북도 안동시에 있는 한식...,음식,음식점,한식
4,TRAIN_00004,./image/train/TRAIN_00004.jpg,※ 영업시간 10:30 ~ 20:30\n\n3대에 걸쳐 아귀만을 전문으로 취급하는 ...,음식,음식점,한식

In [5]:
display(df['cat1'].unique())
display(df['cat2'].unique())
display(df['cat3'].unique())

array(['자연', '레포츠', '음식', '인문(문화/예술/역사)', '숙박', '쇼핑'], dtype=object)

array(['자연관광지', '육상 레포츠', '음식점', '축제', '역사관광지', '문화시설', '휴양관광지', '숙박시설',
       '공연/행사', '쇼핑', '체험관광지', '복합 레포츠', '건축/조형물', '관광자원', '수상 레포츠',
       '산업관광지', '항공 레포츠', '레포츠소개'], dtype=object)

array(['항구/포구', '골프', '한식', '야영장,오토캠핑장', '섬', '일반축제', '유적지/사적지', '일식',
       '자연휴양림', '전시관', '관광단지', '모텔', '스키(보드) 렌탈샵', '바/까페', '채식전문점',
       '한옥스테이', '컨벤션', '성', '중식', '안보관광', '전문상가', '이색거리', '해수욕장', '5일장',
       '미술관/화랑', '공원', '상설시장', '박물관', '도서관', '공연장', '농.산.어촌 체험', '복합 레포츠',
       '펜션', '산', '기념탑/기념비/전망대', '기념관', '자동차경주', '자전거하이킹', '희귀동.식물',
       '유명건물', '수목원', '유원지', '사찰', '강', '자연생태관광지', '박람회', '문화전수시설', '계곡',
       '폭포', '서양식', '종교성지', '동상', '기타행사', '고택', '국립공원', '게스트하우스', '썰매장',
       '요트', '문화원', '래프팅', '승마', '공예,공방', '트래킹', '온천/욕장/스파', '수련시설',
       '해안절경', '패밀리레스토랑', '기암괴석', '기타', '홈스테이', '민물낚시', '콘도미니엄', '민박',
       '테마공원', '유람선/잠수함관광', '바다낚시', '수영', '백화점', '호수', '카약/카누', '외국문화원',
       '면세점', '다리/대교', '카지노', '분수', '동굴', '도립공원', '윈드서핑/제트스키', '특산물판매점',
       '유스호스텔', '고궁', '서비스드레지던스', '민속마을', '전통공연', '문', '식음료', '번지점프',
       '터널', '문화관광축제', '카트', '클럽', '발전소', '대중콘서트', 'MTB', '군립공원', '스케이트',
       '대형서점', '생가', '스카이다이빙', '영화관', '헹글라이딩/패러글라이딩', '스노쿨링/스킨스쿠버다이빙',
       '약수터', '인라인(실내 인라인 포함)', '이색찜질방', '학교', '헬스투어', '등대', '사격장', 'ATV',
       '빙벽등반', '수상레포츠', '연극', '컨벤션센터', '스키/스노보드', '뮤지컬', '이색체험', '클래식음악회'],
      dtype=object)

In [164]:
display(len(df['cat1'].unique()))
display(len(df['cat2'].unique()))
display(len(df['cat3'].unique()))

6

18

128

# cat1 - cat2 연관성

In [29]:
for n_cat1 in df['cat1'].unique() :
    print("cat1 name : ", n_cat1)
    print(df[df['cat1'] == n_cat1]['cat2'].unique())
    print()

cat1 name :  자연
['자연관광지' '관광자원']

cat1 name :  레포츠
['육상 레포츠' '복합 레포츠' '수상 레포츠' '항공 레포츠' '레포츠소개']

cat1 name :  음식
['음식점']

cat1 name :  인문(문화/예술/역사)
['축제' '역사관광지' '문화시설' '휴양관광지' '공연/행사' '체험관광지' '건축/조형물' '산업관광지']

cat1 name :  숙박
['숙박시설']

cat1 name :  쇼핑
['쇼핑']

# cat2 - cat3 연관성

In [14]:
for n_cat2 in df['cat2'].unique() :
    print("cat2 name : ", n_cat2)
    print(df[df['cat2'] == n_cat2]['cat3'].unique())
    print()

cat2 name :  자연관광지
['항구/포구' '섬' '자연휴양림' '해수욕장' '산' '수목원' '강' '자연생태관광지' '계곡' '폭포' '국립공원'
 '해안절경' '호수' '동굴' '도립공원' '군립공원' '약수터' '등대']

cat2 name :  육상 레포츠
['골프' '야영장,오토캠핑장' '스키(보드) 렌탈샵' '자동차경주' '자전거하이킹' '썰매장' '승마' '트래킹' '수련시설'
 '카지노' '번지점프' '카트' 'MTB' '스케이트' '인라인(실내 인라인 포함)' '사격장' 'ATV' '빙벽등반'
 '스키/스노보드']

cat2 name :  음식점
['한식' '일식' '바/까페' '채식전문점' '중식' '서양식' '패밀리레스토랑' '클럽']

cat2 name :  축제
['일반축제' '문화관광축제']

cat2 name :  역사관광지
['유적지/사적지' '성' '안보관광' '사찰' '종교성지' '고택' '고궁' '민속마을' '문' '생가']

cat2 name :  문화시설
['전시관' '미술관/화랑' '박물관' '도서관' '공연장' '기념관' '문화전수시설' '문화원' '외국문화원' '대형서점'
 '영화관' '학교' '컨벤션센터']

cat2 name :  휴양관광지
['관광단지' '공원' '유원지' '온천/욕장/스파' '테마공원' '유람선/잠수함관광' '이색찜질방' '헬스투어']

cat2 name :  숙박시설
['모텔' '한옥스테이' '펜션' '게스트하우스' '홈스테이' '콘도미니엄' '민박' '유스호스텔' '서비스드레지던스']

cat2 name :  공연/행사
['컨벤션' '박람회' '기타행사' '전통공연' '대중콘서트' '연극' '뮤지컬' '클래식음악회']

cat2 name :  쇼핑
['전문상가' '5일장' '상설시장' '공예,공방' '백화점' '면세점' '특산물판매점']

cat2 name :  체험관광지
['이색거리' '농.산.어촌 체험' '이색체험']

cat2 name :  복합 레포츠
['복합 레포츠']

cat2 name :  건축/조형물
['기념탑/기념비/전망대' '유명건물' '동상' '다리/대교' '분수' '터널']

cat2 name :  관광자원
['희귀동.식물' '기암괴석']

cat2 name :  수상 레포츠
['요트' '래프팅' '민물낚시' '바다낚시' '수영' '카약/카누' '윈드서핑/제트스키' '스노쿨링/스킨스쿠버다이빙']

cat2 name :  산업관광지
['기타' '식음료' '발전소']

cat2 name :  항공 레포츠
['스카이다이빙' '헹글라이딩/패러글라이딩']

cat2 name :  레포츠소개
['수상레포츠']

In [170]:
import warnings
warnings.filterwarnings("ignore")

label_df = pd.DataFrame(columns=['cat1','cat2','cat3','count'])
for n_cat1 in df['cat1'].unique() :
    cat2 = df[df['cat1'] == n_cat1]['cat2'].unique()
    for n_cat2 in cat2 :
        cat3  = df[df['cat1'] == n_cat1][df['cat2'] == n_cat2]['cat3'].unique()
        for n_cat3 in cat3 :
            cnt = len(df[df['cat1'] == n_cat1][df['cat2'] == n_cat2][df['cat3'] == n_cat3])
            n = pd.DataFrame([[n_cat1, n_cat2, n_cat3, cnt]], columns=['cat1', 'cat2', 'cat3', 'count'])
            label_df = pd.concat([label_df, n], ignore_index=True)

label_df = label_df.sort_values(by='count', ascending=False)
label_df

            cat1    cat2            cat3 count
51            음식     음식점              한식  3438
21           레포츠  육상 레포츠       야영장,오토캠핑장  1558
53            음식     음식점            바/까페   785
61  인문(문화/예술/역사)   역사관광지         유적지/사적지   622
59  인문(문화/예술/역사)      축제            일반축제   549
..           ...     ...             ...   ...
96  인문(문화/예술/역사)   공연/행사           대중콘서트     2
99  인문(문화/예술/역사)   공연/행사          클래식음악회     2
48           레포츠  항공 레포츠          스카이다이빙     2
34           레포츠  육상 레포츠  인라인(실내 인라인 포함)     2
98  인문(문화/예술/역사)   공연/행사             뮤지컬     2

[128 rows x 4 columns]